/* STYLE MAIN PAGE SECTIONINGS */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Asap Condensed", sans-serif;
}

body {
  background-color: #4b332d;
}

.main {
  margin: 2% 10%;
}

#breakfast-recipes,
#lunch-recipes,
#dinner-recipes,
#dessert-recipes,
#snacks-recipes {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  color: #392925;
}

.recipes-container {
  max-width: 1000px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 2% 3%;
  background-color: #ece3d4;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-top: 3%;
}

/* STYLE MAIN PAGE TEXT */
.text {
  color: #ece3d4;
  font-size: 15px;
  position: relative;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: #945656;
  font-size: clamp(1rem, 2vw, 1.8rem);
  margin-bottom: 3%;
  padding: 8px 0;
}

.recipes-title {
  font-size: clamp(1.6rem, 4vw, 2.8rem);
  color: #392925;
  text-align: center;
  margin-bottom: 2%;
}

/* STYLE SLIDE IMAGES */
.breakfastSlides,
.lunchSlides,
.dinnerSlides,
.dessertSlides,
.snackSlides {
  display: none;
  margin-left: 7%;
  margin-right: 7%;
}

/* STYLE MAIN NAV BAR */
.navbar-container {
  color: #ece3d4;
  flex-wrap: wrap;
  flex: row;
  display: inline-flex;
  justify-content: flex-start;
  overflow: hidden;
}

.right-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2% 12%;
  font-size: clamp(0.8rem, 2vw, 1.8rem);
}

.right-list {
  list-style-type: none;
  display: inline-flex;
  gap: 4%;
}

.right-text a {
  text-decoration: none;
  color: #ece3d4;
  transition-duration: 0.4s;
}

.right-text a:hover {
  color: #ceb5af;
  transition-duration: 0.4s;
}

.left-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2% 6%;
  font-size: clamp(0.8rem, 2vw, 1.8rem);
  font-weight: 600;
}

/* STYLE HERO IMAGE */
#hero-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  display: block;
}

.hero-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 6% 6%;
  color: #ece3d4;
  text-shadow: 2px 2px 4px black;
}

.hero-title {
  font-size: clamp(1.2rem, 3.5vw, 4rem);
}

.hero-subtitle {
  font-size: clamp(1rem, 3vw, 3rem);
}

/* STYLE MAIN PAGE BUTTONS */
.explore-button {
  padding: 0.7em 1.7em;
  font-size: clamp(0.8rem, 2vw, 2rem);
  background-color: #ece3d4;
  margin: 3% 0;
  font-weight: 600;
  color: #392925;
  border-radius: 5px;
  border: 2px solid #ece3d4;
  transition-duration: 0.4s;
}

.explore-button:hover {
  cursor: pointer;
  padding: 0.8em 1.8em;
  font-size: clamp(0.82rem, 2vw, 3rem);
  background-color: #392925;
  color: #ece3d4;
  border: 2px solid #ece3d4;
  transition-duration: 0.4s;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: clamp(0.8rem, 1.8vw, 1rem);
  color: white;
  font-weight: bold;
  font-size: clamp(0.75rem, 1.8vw, 1.2rem);
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none;
}

.prev {
  left: 10.5%;
}

.next {
  right: 10.5%;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #ceb5af;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 5%;
}

.active,
.dot:hover {
  background-color: #945656;
}

/* STYLE ANIMATIONS */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* STYTLE FOOTER */
.footer-container {
  background-color: #945656;
  color: #ece3d4;
  display: flex;
  padding: 4% 6%;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.footer-container h3 {
  font-size: clamp(0.8rem, 2vw, 2rem);
  margin-bottom: 4%;
}

.footer-container0 {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  max-width: 38%;
  margin-right: 6%;
}

.footer-main h1 {
  font-size: clamp(1rem, 3vw, 2.2rem);
  margin-bottom: 0.6em;
}

.footer-main p {
  margin: 2% 0;
  max-width: 100%;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-right: 2%;
}

.email-contact,
.number-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
  margin: 2% 0;
}

.email-contact i,
.number-contact i {
  font-size: clamp(1rem, 2vw, 1.4rem);
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 200px;
}

.social-icons {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  transition-duration: 0.4s;
  flex-wrap: nowrap;
}

.social-icons i {
  margin-right: 4%;
  transition-duration: 0.4s;
  display: inline;
}

.social-icons i:hover {
  color: #ceb5af;
  cursor: pointer;
  transition-duration: 0.4s;
}

.copy {
  margin-top: 5%;
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  margin-right: 10%;
}

/* STYLE RECIPE PAGES SECTIONINGS */
.secondary-body {
  background-color: #ece3d4;
  color: #392925;
}

.main0 {
  margin: 2% 10%;
}

.intro-recipe {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 6%;
}

#conversor-container {
  margin-bottom: 6%;
  color: #392925;
  display: flex;
  flex-direction: column;
}

#conversor {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}

#conversor-child {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-right: 4%;
}

.solid {
  border-top: 2px solid;
  color: #945656;
  margin-right: 36%;
  margin-top: 8%;
}

/* STYLE RECIPE PAGES TEXT */
.right-text0 {
  text-decoration: none;
  color: #392925;
  transition-duration: 0.4s;
}

.right-text0:hover {
  color: #945656;
  transition-duration: 0.4s;
}

.intro-title {
  font-size: clamp(2rem, 4.4vw, 4rem);
  color: #392925;
  text-align: left;
  margin-bottom: 2%;
}

.intro-subtitle {
  font-size: clamp(1rem, 2.2vw, 2rem);
  color: #ece3d4;
  text-align: left;
  margin-top: 1%;
  background-color: #945656;
  margin-right: 36%;
  padding: 8px 10px;
}

.ingredients-title {
  font-size: clamp(1.4rem, 3.6vw, 3.2rem);
  margin-top: 6%;
  color: #392925;
}

.ingredients-subtitle {
  font-size: clamp(0.7rem, 1.4vw, 1.4rem);
  margin-bottom: 4%;
}

.ingredients-container li {
  margin-left: 4%;
  margin-bottom: 3%;
  margin-right: 36%;
  font-size: clamp(1rem, 2.8vw, 2.2rem);
}

.steps-title {
  font-size: clamp(1.4rem, 3.6vw, 3.2rem);
  margin-bottom: 4%;
  margin-top: 6%;
  color: #392925;
}

.steps-container li {
  margin-left: 4%;
  margin-bottom: 3%;
  margin-right: 36%;
  font-size: clamp(1rem, 2.8vw, 2.2rem);
}

#conversor-container {
  margin-bottom: 10%;
}

#conversor-title {
  font-size: clamp(1.2rem, 3vw, 2.8rem);
  margin-top: 6%;
  margin-bottom: 4%;
  color: #392925;
}

#conversor-child input {
  color: #4b332d;
  padding: 0.6em;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  border-radius: 0 0 5px 5px;
  border: 2px solid #945656;
  outline: none;
}

#conversor p {
  position: relative;
  color: #392925;
  margin-top: 4%;
  margin-right: 4%;
  font-size: clamp(0.8rem, 3vw, 2rem);
}

/* STYLE RECIPE PAGES NAV BAR */
.navbar-container0 {
  position: relative;
  flex-wrap: wrap;
  flex: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ece3d4;
  background-color: #945656;
  padding: 0.2em 0;
}

.right-container0 {
  margin: 2% 12%;
  font-size: clamp(0.9rem, 2vw, 1.8rem);
}

.right-text0 {
  text-decoration: none;
  transition-duration: 0.4s;
  color: #ece3d4;
}

.right-text0:hover {
  color: #ceb5af;
  transition-duration: 0.4s;
}

.left-container0 {
  margin: 2% 6%;
  font-size: clamp(0.9rem, 2vw, 1.8rem);
  font-weight: 600;
}

/* STYLE RECIPE PAGES IMAGES */
.recipe-page-img {
  width: 63.66%;
  height: auto;
  border: 2px solid #4b332d;
}

/* STYLE RECIPE PAGES BUTTONS */
select {
  padding: 0.4em;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  border-radius: 5px 5px 0 0;
  border: 2px solid #945656;
  background-color: #945656;
  color: #ece3d4;
  cursor: pointer;
  transition-duration: 0.2s;
}

select:hover {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
  transition-duration: 0.2s;
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  .footer-main {
    max-width: 32%;
  }
  .prev {
    left: 4.5em;
  }
  .next {
    right: 4.5em;
  }
}

@media (max-width: 1000px) {
  .main {
    margin-top: 7%;
  }
  .left-container {
    position: absolute;
    top: 24%;
    left: 26%;
    margin: 2% 6%;
    font-size: clamp(1rem, 5.2vw, 6rem);
    font-weight: 600;
    text-shadow: 2px 2px 4px black;
  }
  .right-container {
    display: none;
  }
  #hero-container {
    height: clamp(200px, 50vw, 490px);
  }
  .hero-text-container {
    position: absolute;
    bottom: 18%;
    left: 4%;
    color: #ece3d4;
    text-shadow: 2px 2px 4px black;
    text-align: center;
  }
  .hero-title {
    font-size: clamp(1.2rem, 5.6vw, 6rem);
  }
  .hero-subtitle {
    font-size: clamp(0.6rem, 4.4vw, 6rem);
    font-weight: 400;
    margin-top: 1%;
  }
  .hero-image {
    filter: blur(5px);
  }
  .explore-button {
    display: none;
  }
  .footer-container {
    flex-direction: column;
    gap: 32px;
    padding: 6% 6%;
    padding-right: 3%;
  }
  .footer-main,
  .footer-contact,
  .footer-links {
    max-width: 100%;
    flex-grow: 1;
  }
  .footer-main {
    margin-bottom: 1em;
    text-align: center;
  }
  .footer-main h1 {
    text-align: center;
  }
  .footer-container0 {
    display: flex;
    flex-direction: row;
  }
  .email-contact,
  .number-contact {
    margin: 1% 0;
  }
  .email-contact p,
  .number-contact p {
    font-size: clamp(0.8rem, 2vw, 1rem);
  }
}

@media (max-width: 800px) {
  .recipe-page-img {
    width: 99.4%;
    height: auto;
  }
  .intro-subtitle {
    margin-right: 0;
  }
  .ingredients-container li {
    margin-right: 0;
  }
  .steps-container li {
    margin-right: 0;
  }
  .solid {
    margin-right: 0;
  }
  .recipes-container {
    padding: 21px 28px;
  }
  .main {
    margin: 2% 8%;
    margin-top: 8%;
  }
  .main0 {
    margin: 2% 6.5%;
  }
}
